/* src/pages/products.css */

.product-image {
    height: 200px; /* Adjusted to fit within the card height */
    width: auto;
    object-fit: contain;
}

.card {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-body {
    flex-grow: 1;
}

.card-title {
    color: #4CAF50 !important; /* Herbal green */
}

.card-text {
    color: #666 !important;
}

.btn-primary {
    background-color: #4CAF50 !important;
    border: none !important;
}

.btn-primary:hover {
    background-color: #45a049 !important;
}
